.panel-block,.panel-tabs{
  background: #fff;
}
.column{
  min-width: 500px;
  margin-top: 60px;
}



form{
  //display: flex;
  padding: 15px;
}
.captionApp{
  font-size: 14px;
  color: #999;
}
.modal-content{
  background: #fff;
  border-radius: 5px;
  max-width: 450px;
  
}
.panel-tabs{
  border-bottom: none;
}
.panel-block.pfooter{
  border-radius: 0 0 5px 5px;
}
