<app-login *ngIf="!logueado" (onLogged)="validar($event)"></app-login>

<router-outlet></router-outlet>

<!-- <app-header *ngIf="logueado"></app-header>

<app-list-task *ngIf="logueado" class="columns is-mobile is-centered"></app-list-task>

<div class="modal" id="nuevaTareaModal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="columns">
            <div class="column is-4">
              <p class="">First column</p>
            </div>
          </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div> -->
